
    ion-content {
        --background: url('../../assets/imgs/tree-night.jpg') no-repeat center / cover;
    }

    p {
        margin-top: 10px;       
        margin-bottom: 10px;    
        color:whitesmoke;
        font-size: 18px;
        font-family: Open-Sans;
        text-shadow: 2px 2px #141414; 
    }